@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;400;500&display=swap");

@import "reset.css";
@import "variables.css";

/*components*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";

/*Screens*/
@import "screens/login.css";
@import "screens/friends.css";
body {
  height: 1000vh;
  font-family: "Kanit", sans-serif;
  padding-top: 20px;
  color: #2e363e;
}
